#python program to find smallest number among them.

In [2]:
a=5
b=10
c=3
min_value=min(a,b,c)
print(f"the smallest value is {min_value}")

the smallest value is 3

In [3]:
a=7
b=10
c=35
if(a<=b and a<=c):
  print(a,"is the smallest")
elif(b<=a and b<=c):
  print(b,"is the smallest")
else:
  print(c,"is the smallest")

7 is the smallest

In [4]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
def find_smallest_number(a, b, c):
    if a <= b and a <= c:
        return a
    elif b <= a and b <= c:
        return b
    else:
        return c
smallest = find_smallest_number(num1, num2, num3)
print("The smallest number is:", smallest)

Enter the first number: 45
Enter the second number: 32
Enter the third number: 25
The smallest number is: 25.0

#write apython program to check if string is a palindrome.

In [8]:
input_string = input("Enter a string: ")
def is_palindrome(s):
    # Remove spaces and convert to lowercase for uniform comparison
    s = s.replace(" ", "").lower()

    # Compare the string with its reverse
    return s == s[::-1]
if is_palindrome(input_string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: HELLO WORLD
The string is not a palindrome.

In [10]:
my_string= 'civic'
rev=my_string[::-1]
if my_string==rev:
  print(rev+"is palindrome")
else:
    print(rev+"is not palindrome")

civicis palindrome

# write a python to reverse a string.

In [11]:
text=" hello world"[::-1]
print(text)

dlrow olleh

In [12]:
def my_function(x):
  return x[::-1]
mytxt=my_function("hello everyone wellcome come to my world")
print(mytxt)

dlrow ym ot emoc emocllew enoyreve olleh

In [13]:
def reverse_string(input_string):
    return input_string[::-1]
input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print("Reversed string:", reversed_string)

Reversed string: !dlroW ,olleH

#write a python program to find the largest element in a list.

In [14]:
a=[10,24,76,23,12]
largest=max(a)
print(largest)

76

In [1]:
from ast import Return
def largest(list):
     large =list[0]
     for i in list:
         if i>large:
           large=i
           return large
list=[3,9,7,3,6,5,7,24]
print("largest in",list,"is")
print(largest(list))

largest in [3, 9, 7, 3, 6, 5, 7, 24] is
9

#write a python program to find the factorial of a number.

In [2]:
num=7
factorial=1
if num<0:
  print("sorry, factorial does not exist for negative numbers")
elif num ==0:
       print("the factorial of 0 is 1")
else:
       for i in range(1,num+1):
           factorial=factorial*1
           print("the facorial of",num ,"is",factorial)

the facorial of 7 is 1
the facorial of 7 is 1
the facorial of 7 is 1
the facorial of 7 is 1
the facorial of 7 is 1
the facorial of 7 is 1
the facorial of 7 is 1

In [4]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result
number = 7
result = factorial(number)
print(f"The factorial of {number} is: {result}")

The factorial of 7 is: 5040

#write a python to find the maximum number in a list

In [5]:
def find_maximum(input_list):
    if len(input_list) == 0:
        return None
    max_number = input_list[0]
    for number in input_list:
        if number > max_number:
            max_number = number
    return max_number
input_list = [753, 56, 162, 89, 384, 920, 67]
maximum_number = find_maximum(input_list)
print("The maximum number in the list is:", maximum_number)

The maximum number in the list is: 920